#menu-misc
{
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

}

#menu-misc li
{
    margin-left: 16px;
    margin-right: 16px;

}

.widget-area-4
{
    display: grid;
}

.widget-area-4 .widgetizedArea
{
    padding-top: 16px;
    padding-bottom: 16px;

}