footer .bg-dark p 
{
    @extend .text-light;
}

footer .bg-dark h1,
footer .bg-dark h2,
footer .bg-dark h3 
{
    @extend .text-light;
}

.widget-area
{
    display: grid;

}

.widget-area
{
}

.widget-size-1
{
    grid-column: span 1;
}

.widget-size-2
{
    grid-column: span 2;
}

.widget-size-3
{
    grid-column: span 3;
}

.widget-size-4
{
    grid-column: span 4;
}

#menu-social li a 
{
    font-size: 20px;
}

.misc .menu-misc-container
{

}