/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .widget-area-4
{
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 32px;
}   
}


/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .widget-area-4
{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}
    
}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    
.widget-area-4
{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
}
    
}