

@media only screen and (max-width: 768px) 
{
    .widget-area-4 .widgetizedArea
    {
        text-align: center;
    }   
    
    .widget-area
    {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 32px;
    }   

    .remove-grid-bottom
    {
        row-gap: 32px !important;
    }

    .widget-size-2
    {
        grid-column: span 1;
    }

    .widget-size-3
    {
        grid-column: span 1;
    }

    .widget-size-4
    {
        grid-column: span 1;
    }
    
    #footer-widget .widgetizedArea
    {
        padding-left: 18px;
        padding-right: 18px;

        padding-top: 32px;
        padding-bottom: 32px;
    }

}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .widget-area
    {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
    }

    #footer-widget .widgetizedArea
    {
        padding-left: 18px;
        padding-right: 18px;

        padding-top: 32px;
        padding-bottom: 32px;
    }

    
    .remove-grid-bottom
    {
        row-gap: 32px !important;
    }

    .widget-size-2
    {
        grid-column: span 2;
    }

    .widget-size-3
    {
        grid-column: span 2;
    }

    .widget-size-4
    {
        grid-column: span 2;
    }
    
    .widget-area .widgetizedArea
    {
        padding-top: 16px;
        padding-bottom: 16px;

        padding-left: 16px;
        padding-right: 16px;

        
        text-align: center;
    }
    
}


/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .widget-area
    {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
    }

    #footer-widget .widgetizedArea
    {
        padding-left: 18px;
        padding-right: 18px;

        padding-top: 32px;
        padding-bottom: 32px;
    }

    
    .remove-grid-bottom
    {
        row-gap: 32px !important;
    }
    
    .widget-size-2
    {
        grid-column: span 2;
    }

    .widget-size-3
    {
        grid-column: span 2;
    }

    .widget-size-4
    {
        grid-column: span 2;
    }
    
    .widget-area .widgetizedArea
    {
        padding-top: 16px;
        padding-bottom: 16px;

        padding-left: 16px;
        padding-right: 16px;

        
        text-align: center;
    }
    
}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1400px) 
{
    
    .widget-area
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0px !important;
    }

    #footer-widget .widgetizedArea
    {
        padding-left: 18px;
        padding-right: 18px;

        padding-top: 32px;
        padding-bottom: 32px;
    }


    
    .widget-size-2
    {
        grid-column: span 2;
    }

    .widget-size-3
    {
        grid-column: span 3;
    }

    .widget-size-4
    {
        grid-column: span 4;
    }


    .widget-area .widgetizedArea
    {
        padding-top: 32px;
        padding-bottom: 32px;

        padding-left: 32px;
        padding-right: 32px;

        text-align: left;
    }
    
}