body 
{
    display: grid;
    
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    
    grid-gap: 32px;

    margin: 0px;
    padding:0px;
}

head
{
    
}

main
{
    
}

footer 
{
    
}

ul 
{
    list-style: none;

    padding: 0px;
    margin: 0px;
}

a:hover
{
    text-decoration: none !important;
}

ol 
{

}