

.secondary-footer-cover
{
    @extend .bg-secondary;
}

.secondary-footer-cover p 
{
    @extend .text-light;
}

#footer-misc-menu
{
    
}

#footer-misc-menu nav ul li a
{
    @extend .small;
}

.secondary-footer-cover h1,
.secondary-footer-cover h2,
.secondary-footer-cover h3 
{
    @extend .text-light;
}

.widget-area
{
    display: grid;

}

.widget-area
{

}

.widget-area #text
{
    display:hidden;
}

#menu-social li
{
    margin-left: 8px;
    margin-right: 8px;

}

#menu-social li a 
{
    font-size: 20px;
}


.misc .menu-misc-container
{

}


.widget-group-5
{
    grid-column: span 4;
}


.widget-group-6
{
    grid-column: span 1;
}


.widget-group-7
{
    grid-column: span 1;
}

.widget-group-8
{
    grid-column: span 1;
}

.widget-group-1
{
    grid-column: span 2;
}

.widget-group-2
{
    grid-column: span 2;
}

.widget-group-4
{
    grid-column: span 2;
}

.widget-group-3
{
    grid-column: span 2;
}
